Repository Rocksus/joke-api, pull requests merged in 2022-10, with the labels that each got.

#4 add one more bad joke
  data/jokes.json
Labels: hacktoberfest-accepted

#7 add one joke
  data/jokes.json
Labels: joke add

#8 A wild Nad enters the bar...
  data/jokes.json
Labels: joke add, hacktoberfest-accepted
